{% load static%}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>


 <meta charset="UTF-8">
 <!-- Compiled and minified CSS dong -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
   <link rel='shortcut icon' href="{% static 'forum/image/fill.jpg' %}" type="image/x-icon">
  <title>Web Confessions</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

   <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

 <title>welcome</title>


<style>
     
      input {
        border: 0;
        padding: 10px;
        font-size: 16px;
        font-family: helvetica;
        width: 200px;
      }
      input[type="submit"] {
        
        background: rgba(0,0,0,0.7);
        color: white;
        margin-top: 30px;
        width: 200px;
        
        
      }
      input[type="submit"]:hover {
        background:red;
      }
      input[type="subcribe"]:hover {
        background:red;
      }
      img {
        margin: 50px auto -50px auto;
        width: 20%;
        height: 20%;
      }
      h1 {
        font-family: 'Bangers';
        font-size: 5em;
        
      }
      h2{
      font-family: 'Bangers';
      
      }

      
      
    </style>


<body>
  <nav class="grey darken-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Web Confessions</a>
       <ul class="right hide-on-med-and-down">
       <li><a class="white-text text-accent-4" href="/index">Back to Home</a></li>
</ul>
<br>

<div class="row">
          <div class="col-sm-4">
           <!-- 
              <img class="mx-auto rounded-circle" src="{% static 'forum/image/guy.jpg' %}"> -->
              <h1>Developers</h1>
              <h4>Allen Dave Catucag</h4>
              <p class="text-muted">Back End</p>
              <h4>Jericho James Ranara</h4>
              <p class="text-muted">Lead Designer</p>
              <h4>Xeno Limbungan</h4>
              <p class="text-muted">Lead Designer</p>
              <ul class="list-inline social-buttons">           
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                    <h5 class="yellow-text">Get Updates</h5>
                    <p>We are a team of college students working on this final project. Any amount would help support and continue development on this project and is greatly appreciated.</p>
                  </a>
                </li>

              </ul>
            </div>

          </div>
          </div>


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
     
        <div class="col l3 s12">
          <h5 class="yellow-text">Contact Us</h5>
          <ul>
            <li><a class="white-text" href="#!">09260963233 -Allen</a></li>
            <li><a class="white-text" href="#!">09231101325 -Jekko</a></li>
            <li><a class="white-text" href="#!">09480559199 -Xeno</a></li>
            
          </ul>
        </div>
      </div>
          <div class="col l3 s12">
          <h5 class= "yellow-text">Follow Us</h5>
          <div class="row">
          <ul>
            <li><a class="white-text" href="">Email</a></li>
            <li><a class="white-text" href="https://www.facebook.com/allendavecatucag">Facebook</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
          </ul>
        </div>

       
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
      Made by <a class="yellow-text text-lighten-3" href="http://materializecss.com">Team Webdev</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <!--   <script>

              $('.button-collapse').sideNav({
            menuWidth: 300,
            closeOnClick: true,
            edge: 'right',
          }
        );
          
            $(document).ready(function(){
              $('.slider').slider();
            });

        // Pause slider
        $('.slider').slider('pause');
        // Start slider
        $('.slider').slider('start');
        // Next slide
        $('.slider').slider('next');
        // Previous slide
        $('.slider').slider('prev');
          </script> -->


  <!--  Scripts-->


  </body>
</html>

{% endblock content %}